errors.csv
forex_factory_catalog.csv
logs_file
chromedriver.exe
venv
src/forexfactory/__pycache__/*
*/__pycache__/*
*.csv
forexfactory_debug_*
src/forexfactory/utils/__pycache__/*
src/forexfactory_scraper.egg-info/PKG-INFO
